@using System.Linq
@inherits NancyRazorViewBase<Job>

@{
    Layout = "_Layout.cshtml";
}

@functions{

    string GetMessage(Run run)
    {
        var message = (run.Message ?? run.ExceptionText);

        if (message.Length > 200)
            return message.Substring(0, 197) + "...";

        return message;
    }

}

<h1>Details: @Model.Name</h1>

<table data-autoupdate="5" id="jobs" class="table table-striped table-bordered" style="table-layout:fixed;">
    <thead>
        <tr>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>Started at</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>Finished at</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>RunTime</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>Status</td>
            <td width="60%">Message</td>
        </tr>
    </thead>
    @foreach (var run in Model.GetRuns().Reverse())
    {
        <tr>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>@run.StartedAt</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>@run.FinishedAt</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>@run.RunTime</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>@run.Status</td>
            <td style='text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>
                @GetMessage(run)
            </td>
        </tr>
    }
</table>